/* .contact {
    border: 1px solid black;
    border-radius: 30px;
    background-color: pink;
    color: black;
    box-shadow: 0px 0px 40px 40px silver;
    padding: 20px 50px 20px 50px;
    text-align: center;
    width: 100px;
} */
 .smallnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
 }
 .openlist{
    width: 300px;
    height: 100vh;
    background-color: aqua;
    position: absolute;
    top: 0px;
    left: -300px;
 }