.contact{
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 40px 40px silver;
    padding: 20px 50px 20px 50px;
    text-align: center;
    width: 100px;
}